<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Auto-Execution Rule is in effect -->
<mapper namespace="org.zerock.myapp.mybatis.mapper.CityMapper">

    <select id="findByState2" resultType="City">
        select id, name, state, country from city where id = #{id}
    </select>

</mapper>
